/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/

* {
    margin:0;
    padding:0;
    font-family: "Avenir Next",Avenir,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
    box-sizing: border-box;
}

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */
#mobileheader{
    display:none;
}
#menubody {
    background-image:url(img/WebBlur.png);
    background-position: center top;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
}

html, body {
    height: 100%;
    padding: 0;
	margin: 0;
	width: 100%;
    font-size:92%;

}
section,article {
	padding:35px 35px 35px 35px;
    background-color:white;
}

#wrap {
    min-height: 100%;
}

#header {
    background: linear-gradient(90deg, #16222A 5%, #3A6073 100%);
    color: white;
    border-bottom: 3px solid lightgreen;
}
#header li{
    display: inline-block;
	font-weight: bold; 
	font-size: 2em;  /*Font size*/
	padding-left: 1.5%;
    
}
#links{
    padding: 0;
	margin-top: 0;
}
#header a {
    color: White;
	text-decoration: none;
}
#header a:hover {
    color: lightgreen;
}
#Logo{
    font-size: 4em; /*Font size*/
	font-weight: bold;
	font-family: "Avenir Next",Avenir,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
	font-weight: 900;
	margin-left: 6.8%;
	margin-bottom: 0.3%;
    text-decoration: none;
}

#main {
    overflow:auto;
	padding-bottom: 100px;}  /* must be same height as the footer */

section {
    border:1px solid grey;
	width:65%;
	max-width:1280px;
	margin: 10px auto;
    background-color:#ddd;
} 
article {
	border-radius:5px;
}
#footer {
    position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;    
    background: linear-gradient(90deg,#3A6073 5%, #16222A 100%);
	clear:both;
    text-align: center;
    font-size: 15px;
    text-decoration: none; 
    color: white;
}
#footer a{
    text-decoration: none; 
    color: white;
}
#footer a:hover{
    color: lightgreen;
}
#footer p{
    padding-top: 20px;
}
.iframeboor{
    width: 100%;
    height: 600px;
    margin: auto;
}
.iframe{
    width: 50%;
    height: 500px;
    margin: auto;
}
@media screen and (max-width: 700px) {
    body{
        width: 100%;
    }
    #header{
        display: none;
    }
    #mobileheader{
        display:initial;
		width: 100%;
    }
    #mobileheader a{
        color: white;
        text-decoration: none;
    }
    #mobileheader ul {
        background: linear-gradient(90deg, #16222A 5%, #3A6073 100%);
    }
    #mobileheader li{
        display: inline-block;
        text-align: right;
    }
    #mobileheader #MobileLogo {
		font-size: 50px;
		padding: 0px 0 3px 20px;
		font-weight: bold;
    }
    #MobileLogo {
        
    }
    #MobileLogo a:hover{
        color: lightgreen;
    }
    #pull-li {
        font-family: "Arial",sans-serif;
        font-size: 40px;
        padding-right: 10px;
        float: right;
	}
    #pull-li a:hover {
        color: lightgreen
    }
    #mobilelinks {
        border-bottom: 3px solid White;
    }
    section{
        width: 80%
            
    }
    article{
        border-radius: 0px;
    }
    #mobilelinks2 {
        padding: 2px;
    }
    #mobilelinks2 a:hover {
        color: lightgreen;
        text-decoration: underline;
    }
    #mobilelinks2 ul {
        background: linear-gradient(90deg, #16222A 5%, #3A6073 100%);
    }
    #mobilelinks2 li{
        text-align: right;
        display:inherit;
    }
    #nc1, #nc2,#nc3,#nc3, #nc4{
		width: 80%;
		border-bottom: 1px solid White;
        font-size: 2em;
        font-weight: bold;
        font-family: "Avenir Next",Avenir,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
        margin: auto;
	}
    #nc5{
        width: 80%;
        font-size: 2em;
        font-weight: bold;
        font-family: "Avenir Next",Avenir,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
        margin: auto;
    }
    .iframeboor{
    width: 100%;
    height: 300px;
    }
    .iframe{
    width: 100%;
    height: 300px;
    margin: auto;
    }
}
@media screen and (max-width: 1641px) {
    body{
        width: 100%;
    }
    #header{
        display: none;
    }
    #mobileheader{
        display:initial;
		width: 100%;
    }
    #mobileheader a{
        color: white;
        text-decoration: none;
    }
    #mobileheader ul {
        background: linear-gradient(90deg, #16222A 5%, #3A6073 100%);
    }
    #mobileheader li{
        display: inline-block;
        text-align: right;
    }
    #mobileheader #MobileLogo {
		font-size: 50px;
		padding: 0px 0 3px 20px;
		font-weight: bold;
    }
    #MobileLogo {
        
    }
    #MobileLogo a:hover{
        color: lightgreen;
    }
    #pull-li {
        font-family: "Arial",sans-serif;
        font-size: 40px;
        padding-top: 1px;
        padding-right: 20px;
        float: right;
	}
    #pull-li a:hover {
        color: lightgreen
    }
    #mobilelinks {
        border-bottom: 3px solid lightgreen;
    }
    section{
        width: 100%   
    }
    article{
        border-radius: 0px;
    }
    #mobilelinks2 {
        padding: 2px;
    }
    #mobilelinks2 a:hover {
        color: lightgreen;
    }
    #mobilelinks2 ul {
        background: linear-gradient(90deg, #16222A 5%, #3A6073 100%);
    }
    #mobilelinks2 li{
        text-align: right;
        display:inherit;
    }
    #nc1, #nc2,#nc3,#nc3, #nc4{
		width: 80%;
		border-bottom: 2px solid lightgreen;
        font-size: 2em;
        font-weight: bold;
        font-family: "Avenir Next",Avenir,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
        margin: auto;
	}
    #nc5{
        width: 80%;
        font-size: 2em;
        font-weight: bold;
        font-family: "Avenir Next",Avenir,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
        margin: auto;
        
    }
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}


/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->

*/

